# Documentation in https://github.com/ytdl-org/youtube-dl/

# Download en and fi subtitles if available, store as srt
--write-sub
--write-auto-sub
--sub-lang en,fi
--convert-subs srt

# Download best mp4 format available or any other best if no mp4 available
--format bestvideo[ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]/best

# Restrict filenames to only ASCII characters, and avoid "&" and spaces in filenames
--restrict-filenames

# If something has already been downloaded, do not overwrite
--no-overwrites
# Attempt to continue downloads
--continue
--retries 20
--fragment-retries 20

# Gather all possible metadata about the video
--write-description
--write-info-json
--write-annotations
--write-thumbnail

# Embed metadata in the video file
--add-metadata

# Save all videos under /workdir/downloads in channel specific subdir and in a directory per title structure to group everything related to a single file
-o /workdir/downloads/%(uploader)s/%(upload_date)s_%(id)s_%(title)s/%(upload_date)s_%(id)s_%(title)s.%(ext)s